<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>PADO Web Services</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>PADO</servlet-name>
		<servlet-class>com.netcrest.pado.web.PadoServlet</servlet-class>

		<init-param>
			<param-name>pado.properties</param-name>
			<param-value>etc/client/pado.properties</param-value>
		</init-param>
		<init-param>
			<param-name>gemfirePropertyFile</param-name>
			<param-value>etc/client/client.properties</param-value>
		</init-param>
		<!-- 
			Enable gfsecurity only if GemFire client/server SSL is enabled
		-->
		<!--
		<init-param>
			<param-name>gemfireSecurityPropertyFile</param-name>
			<param-value>etc/client/gfsecurity.properties</param-value>
		</init-param>
		-->
	</servlet>
	<servlet-mapping>
		<servlet-name>PADO</servlet-name>
		<url-pattern>/pado/*</url-pattern>
	</servlet-mapping>
</web-app>
